{% extends 'base.html.twig' %}

{% block title %}Créer un produit{% endblock %}

{% block body %}
    <h1>Formulaire d'ajout</h1>
    <div class="container">
        <div class="form-group">
            {{form(form)}}
        </div>
    </div>
{% endblock %}
