{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container">
        <h1>Halte ! La page n'existe pas ! Veuillez faire demi-tour.</h1>
        <a href="/"><button type="button" class="btn btn-primary">Faire demi-tour jusqu'à la page d'accueil</button><a>
    </div>
  

{% endblock %}