{% extends 'base.html.twig' %}

{% block title %} Inscrivez-vous !{% endblock %}

{% block body %}

    <h1>Formulaire d'inscription</h1>
    <div class="container">
        <div class="form-group">
            {{form(form)}}
        </div>
    </div>
{% endblock %}